.watched-modal{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    margin:auto;
    display:none;
    z-index: 500;
    width:100%;
}

#showForm{
    display:block;
}

.watched-box{
    background-color: #d3d3d3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:300px;
    width:400px;
    display:flex;
    justify-content: center;
    justify-items:center;
    align-items:center;
    align-content: center;
}

.inputForm{
    
    flex-direction: column;
    margin:20px;
    text-align:center;
}

.inputForm label{
    display:flex
}

.inputForm span{
    margin: auto;
}