nav{
    background: #222;
    height:100px;
    display:flex ;
    align-items: center;
    justify-content:space-between;
    
  }

nav a {
      color:white;
      text-decoration: none;  
      font-size: 18px;
  }

  a:hover{
    color:#fff;
  }

  nav li {
    display:inline-block;
    margin:10px;
  }

 
 nav ul {
   padding-right:20px;
   margin-bottom:0;
 }

 nav span {
   display:flex;
   padding-left:20px;
   align-items: center;
   color: #a4acc4;
 }

 nav span svg{
   margin-left:5px;
 }

 @media (max-width: 550px){
   .logoContainer{
      display:none;
   }

   nav ul {
    padding-left:20px;
    margin-bottom:0;
    padding-right:0;
  }
 }