.movieSearch{
    margin-top: 1em;
    background: #fff;
    padding: 1em;
    width: 100%;
    border-radius: 10em;
    -webkit-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
}

.movieSearch input {
    width: 100%;
    border-style: none;
    color: inherit;
    background-color: transparent;
    padding-left: 1em;
    font-size: 1.3em;
    outline:none;
}

.viewTypeContaner{
    
    display:inline-block
}

.viewTypeContaner button{
    background:none;
    border:none;
    margin:5px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
}

.active{
    background: #222222 !important;
    color:#fff
}

.sortContainer{
    display:inline-block
}

.TypeContainer{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-top:20px;
}

button:focus {outline:none;}
button::-moz-focus-inner {border:0;}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px 0 10px;

    border: 1px solid #e0e0e0;
    border-radius: 3px;
    line-height: 36px;
    height: 36px;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    background: #fff;

   min-width: 200px;
    margin: 0 5px 5px 0;
  }

  select::-ms-expand {
    display: none;
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select {
    background: #fff
}

  .TypeContainer label {
    position: relative;
    display: inline-block;
  }
  .TypeContainer label:before {
    content: "";
    height: 31px;
    position: absolute;
    right: 7px;
    top: 3px;
    width: 22px;
    background: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none;
    display: block;
  }
  .TypeContainer label:after {
    content: " ";
    position: absolute;
    right: 15px;
    top: 46%;
    margin-top: -3px;
    z-index: 2;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: #aaa transparent transparent transparent;
    pointer-events: none;
  }